body {
  padding-top: 75px;
  background: #171717;
}
.faq-drop {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  font-weight: bold;
}
.space {
  min-height: 5px;
}
.faq-drop:hover {
  background-color: #ccc;
}
.faq-answer {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
.faq-answer p {
  padding-top: 10px;
}

.faq-header p {
  margin: 0 auto;
}
.logotype {
  max-height: 100px;
  max-width: 100px;
}

.navbar {
  justify-content: flex-start;
}

.navbar-toggler {
  margin-right: 1rem;
}
.kund-box {
  background: #777666;
  color: #ffd000;
  /* border-radius: 15px; */
}
.text-box h4 {
  font-size: 110%;
}
.text-box {
  /* border-radius: 15px; */
  background: #2A2A00;
}
.text-box > h2 {
  margin: 0;
  padding: 0;
}
.text-box h5 {
  font-size: 100%;
  color: #f0fccb;
}
.textcolor1 {
  color: #ffd000;
}
.textcolor2 {
  color: #FFFFFF;
}
.bgcolor1 {
  background: #000000;
}
.bgcolor2 {
  background: #2A2A00;
}
.bgcolor3 {
  background: #777666;
}
.form-group p {
  padding-top: 10px;
}

.top-img {
  width: 100%;
}

.second-img {
  width: 100%;
  height: 40%;
  object-fit: cover;
  padding: 10px 0;
}
.article-one {
  padding: 10px 0;
  background-color: gray;
}

#mouse {
  height: 40%;
  width: 100%;
  object-fit: cover;
}
.fa-phone-alt {
  color: green;
}

.fab {
  color: #3b5998;
  font-size: 40px;
  padding-right: 30px;
}

.insta {
  color: #8a3ab9;
}

.twitter {
  color: #38a1f3;
}

.fab:hover {
  opacity: 0.5;
}
  .fab:hover{
    opacity: 0.5;
  }

.page-header:after {
    background: none repeat scroll #000000;
    bottom: -1px;
    content: "";
    display: block;
    height: 2px;
    position: relative;
    width: 80%;
    margin: auto;
}



.clip {
    clip-path: polygon(50% 100%, 100% 80%, 100% 0, 0 0, 0 80%);
}

.clip-text{
   position: absolute;
    color: white;
    z-index: 500;
    text-align: center;
    padding-top: 2%;
    right: 7%;
}

.forwho-innerbox1{
    position: relative;
}

.forwho-innerbox{
    border: 1px solid black;
    padding: 2%;
    height: 425px;
    border-radius: 1%;
}
.forwho-innerbox section{

    padding: 5%;

}
