body {
    padding-top: 75px;
    background: black;
}
.question {
    background-color: #4d4c44;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 1s;
    font-weight: bold;
}
.space{
    min-height: 5px;
}
.question:hover {
    background-color: #ccc; 
    color: #444;
}
.answer {
    padding: 0 18px;
    display: none;
    background-color: #ccc;
    overflow: hidden;
}
.answer p{
    padding-top: 10px;
}
.faq-header {
    margin: 10px auto;
    color: white;
}
.logotype{
    max-height:100px;
    max-width:100px;
}
p{
    font-family: 'Roboto Slab', serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Chivo', sans-serif;
}
button{
    font-family: 'Roboto Slab', sans-serif;
}
i{
    color: white;
}
i:hover{
    color: #ffd000;
    transition: 1s;
}
.picswap > img{
    max-height: 500px;
}
.start{
    height:80vh;
    display: flex;
    align-items: center;
}
.hidden{
    display: none;
}
.startlinks{
    height: 35px;
    background-color:#444;    
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
}
.startlinks:hover {
    text-decoration: none;
    color: black;
    background-color: #ffd000;
    transition: 1s;
}

/* Flashlight Overlay */
/* :root {
    cursor: none;
    --cursorX: 50vw;
    --cursorY: 50vh;
  }
  :root:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    pointer-events: none;
    background: radial-gradient(
      circle 10vmax at var(--cursorX) var(--cursorY),
      rgba(0,0,0,0) 0%,
      rgba(0,0,0,.5) 80%,
      rgba(0,0,0,.95) 100%
    )
  } */