body {
  padding-top: 65px;
  background: #000000;
}

.navbar {
  justify-content: flex-start;
}

.navbar-toggler {
  margin-right: 1rem;
}

.kund-box {
  background: #777666;
  color: #ffd000;
  /* border-radius: 15px; */
}

.text-box h4 {
  font-size: 110%;
}

.text-box {
  /* border-radius: 15px; */
  background: #2A2A00;
}

.text-box > h2 {
  margin: 0;
  padding: 0;
}

.text-box h5 {
  font-size: 100%;
  color: #f0fccb;
}

.catwoman{
  background-clip: padding-box; 
  border-left: 2px solid #777666;
}

.batman{
  background-clip: padding-box; 
  border-right: 2px solid #777666;
}
.textcolor1 {
  color: #ffd000;
}

.textcolor2 {
  color: #FFFFFF;
}

.bgcolor1 {
  background: #000000;
}

.bgcolor2 {
  background: #2A2A00;
}

.bgcolor3 {
  background: #777666;
}

.form-group p {
  padding-top: 10px;
}

.fa-phone-alt {
  color: green;
}

.fa-facebook {
  color: #3b5998;
  font-size: 40px;
  padding-right: 30px;
}

.insta {
  color: #8a3ab9;
  padding-right: 30px;
  font-size: 40px;
}

.twitter {
  color: #38a1f3;
  padding-right: 30px;
  font-size: 40px;
}

.facebook{
  opacity: 0.5;
}

.insta{
  opacity: 0.5;
}

.phone-alt{
  opacity: 0.5;
}

.twitter:hover {
  opacity: 0.5;
}

.page-header:after {
  background: none repeat scroll #000000;
  bottom: -1px;
  content: "";
  display: block;
  height: 2px;
  position: relative;
  width: 80%;
  margin: auto;
}

.clip {
  clip-path: polygon(50% 100%, 100% 80%, 100% 0, 0 0, 0 80%);
}

.clip-text{
  position: absolute;
  color: white;
  z-index: 500;
  text-align: center;
  padding-top: 2%;
  right: 7%;
}

.forwho-innerbox1{
  position: relative;
}

.forwho-innerbox{
  border: 1px solid black;
  padding: 2%;
  height: 425px;
  border-radius: 1%;
}

.forwho-innerbox section{
  padding: 5%;
}

.form-group p{padding-top: 10px;}
  
  /*NEWS CSS*/
#first-news-img {width: 100%;}
 
.article-one {
      border-radius: .60rem;
}

.article-one:hover {
  color: white;
}


.article-one > h3, p{float: right;}

.news-article{
  background-clip: padding-box !important;
  border: 3px solid transparent !important;  
  border-radius: .50rem;
  background-color: transparent;
}
  /*news slut*/
